@font-face {
    font-family: 'Wisdom-Script';
    src: url(vendor/Wisdom-Script.otf);
}

@font-face {
    font-family: 'DroidSerif-Regular';
    src: url(vendor/DroidSerif-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 100%;
    height: 700px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/apartment.jpeg"), center/cover, no-repeat;
    background-position: 50% 50%;
}

.burger {
    position: absolute;
    float: right;
    top: 5px;
    right: 15px;
    width: 60px;
    height: 40px;
    z-index: 10;
}

.burger div {
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #fed136;
}

.burger div:nth-child(1) {
    top: 0;
}

.burger div:nth-child(2),
.burger div:nth-child(3) {
    top: calc(50% - 4px);
}

.burger div:nth-child(4) {
    bottom: 0;
}

nav h1 {
    position: absolute;
    font-family: 'Wisdom-Script';
    text-decoration: none;
    color: #fed136;
    padding: 10px 180px;
    font-size: 26px;
    line-height: 1.5;
    font-weight: normal;
}

nav img {
    padding: 10px 25px;
    width: 300px;
    height: 300px;
}

nav ul {
    list-style-type: none;
    float: right;
    padding: 38px 80px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    width: 120px;
    text-align: center;
}

nav ul li a:hover {
    font-weight: bold;
}

.slogan {
    display: block;
    text-align: center;
    margin: 40px auto;
    padding: 0px;
}

.slogan h3 {
    color: #fff;
    font-style: italic;
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
    padding: 20px 0;
    margin: 0;
}

.slogan h2 {
    color: #fff;
    font-size: 40px;
    font-family: 'Oxygen', sans-serif;
    text-transform: uppercase;
    padding: 20px 0 45px 0;
    margin: 0;
}

.headerButton {
    background-color: #ecb71c;
    width: 25%;
    height: 65px;
    border: #ecb71c;
    border-radius: 3px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    transition: transform .5s;
}

.headerButton:hover {
    color: #000;
    transform: scale(1.2);
}

.about-us {
    background-color: #f7f7f7;
    padding-bottom: 40px;
}

.about-us h2 {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    padding: 0;
}

.about-us h5 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
}

.about-us p {
    text-align: left;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgb(36, 36, 36);
    padding-left: 10px;
    margin: 0;
    width: 98%;
    text-align: center;
    margin-top: 30px;
}

.about-us button {
    border-radius: 10px;
    background-color: #ecb71c;
    border: 1px solid #ecb71c;
    width: 194px;
    height: 45px;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 20px auto;
    transition: .5s;
    cursor: pointer;
}

.about-us button:hover {
    color: #000;
    transform: scale(1.2);
}

.about-us img {
    margin-left: 100px;
    margin-top: -10px;
    padding: 0;
    width: 60%;
    height: 60%;
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #ecb71c;
    outline: 1px solid slategrey;
}

[class*="col-"] {
    width: 100%;
    float: left;
}

.col-lg-1 {
    width: 8.33%;
}

.col-lg-2 {
    width: 16.66%;
}

.col-lg-3 {
    width: 25%;
}

.col-lg-4 {
    width: 33.33%;
}

.col-lg-5 {
    width: 41.66%;
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: 58.33%;
}

.col-lg-8 {
    width: 66.66%;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-10 {
    width: 83.33%;
}

.col-lg-11 {
    width: 91.66%;
}

.col-lg-12 {
    width: 100%;
}

.col-offset-lg-1 {
    margin-left: 8.33%;
}

.col-offset-lg-2 {
    margin-left: 16.66%;
}

.col-offset-lg-3 {
    margin-left: 25%;
}

.col-offset-lg-4 {
    margin-left: 33.33%;
}

.col-offset-lg-5 {
    margin-left: 41.66%;
}

.col-offset-lg-6 {
    margin-left: 50%;
}

.col-offset-lg-7 {
    margin-left: 58.33%;
}

.col-offset-lg-8 {
    margin-left: 66.66%;
}

.col-offset-lg-9 {
    margin-left: 75%;
}

.col-offset-lg-10 {
    margin-left: 83.33%;
}

.col-offset-lg-11 {
    margin-left: 91.66%;
}

.col-offset-lg-12 {
    margin-left: 100%;
}

.services {
    text-align: center;
    padding: 80px 0;
    margin: 0 auto;
}

.services h2 {
    text-transform: uppercase;
    color: #000;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.services h3 {
    font-style: italic;
    color: rgb(119, 119, 119);
    font-family: 'DroidSerif-Regular', sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding-top: 10px;
    margin: 0;
}

.elements h1 {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: rgb(34, 34, 34);
    font-family: 'Montserrat', sans-serif;
}

.elements p {
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.elements {
    padding: 80px 0 20px 0;
}

.fa-btn {
    width: 70px;
    height: 70px;
    border-style: solid;
    border-width: 3px;
    border-color: #ecb71c;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    transition: transform .5s;
}

.elements i.fa {
    font-size: 30px;
    color: #ecb71c;
    text-align: center;
    margin: 0;
    padding: 15px 0;
}

.active .fa-btn {
    transition: transform .5s;
}

.active:hover .fa-btn {
    background-color: #000;
    border-color: #000;
}

.portfolio {
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding: 0;
}

.portfolio h2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}

.portfolio h3 {
    font-size: 16px;
    font-family: "DroidSerif";
    color: rgb(119, 119, 119);
    font-style: italic;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding-bottom: 70px;
}

.gallery-btn {
    margin-bottom: 40px;
}

.gallery {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.gallery:hover {
    transform: scale(1.15);
}

.gallery img {
    margin: 0 auto;
    padding: 0;
    display: block;
}

.caption {
    background-color: #fff;
    width: 291px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0;
}

.break {
    background-color: #fff;
    width: 291px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0;
}

.gallery h4 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.gallery p {
    font-size: 14px;
    font-family: "DroidSerif";
    color: rgb(115, 115, 115);
    font-style: italic;
    text-align: center;
    padding-top: 5px;
    margin: 0;
}

.about h2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 80px 0 10px 0;
}

.about1 img,
.about2 img,
.about3 img,
.about4 img,
.about5 img {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.about h3 {
    font-size: 16px;
    font-family: "DroidSerif";
    color: rgb(119, 119, 119);
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
}

.about p {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
}

.about1 h4,
.about3 h4 {
    width: 100%;
    text-align: right;
    margin: 0;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    padding-right: 20px;
}

.about1 p,
.about3 p {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    text-align: right;
    display: block;
    margin: 10px auto;
    padding-right: 20px;
}

.about2 h4,
.about4 h4 {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    padding-right: 20px;
}

.about2 p,
.about4 p {
    font-size: 14px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    text-align: left;
    display: block;
    margin: 10px auto;
}

.capitalize {
    width: 100%;
    text-align: right;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: capitalize;
}

.space {
    padding-top: 20px;
}

.line:before {
    content: "";
    background-color: rgb(241, 241, 241);
    width: 2px;
    height: 80px;
    display: block;
    margin: 0 auto;
    padding: 0;
}

.line:after {
    content: "";
}

.team {
    background-color: rgb(247, 247, 247);
}

.team h2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 80px 0 0 0;
    padding-top: 100px;
}

.team h3 {
    font-size: 16px;
    font-family: "DroidSerif";
    color: rgb(119, 119, 119);
    font-style: italic;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}

.paragraph {
    font-size: 16px;
    font-family: "RobotoSlab";
    color: rgb(119, 119, 119);
    text-align: center;
    padding: 30px;
    padding-bottom: 100px;
}

.employee h4 {
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
}

.employee p {
    text-align: center;
    font-size: 16px;
    font-family: "Montserrat";
    color: #777;
    font-weight: bold;
    margin: 0;
    padding-top: 10px;
}

.employee img {
    display: block;
    padding-top: 80px;
    margin: 0 auto;
}

.icons {
    text-align: center;
    padding-top: 20px;
}

.icon-btn {
    width: 40px;
    height: 40px;
    border: 2px solid #000;
    border-radius: 50%;
    color: #000;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.icon-btn:hover {
    background-color: #000;
    color: #fff;
}

button i.fa {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.logos-btn {
    width: 80%;
    margin: 0 auto;
}

.logos-btn img {
    height: 60%;
    width: 60%;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0;
}

.contact {
    width: 100%;
    background: url(images/mapimage.png) right no-repeat #222;
}

.contact h2 {
    font-size: 40px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 80px 0 10px 0;
}

.contact h3 {
    font-size: 16px;
    font-family: "DroidSerif";
    color: rgb(119, 119, 119);
    font-style: italic;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}

#name,
#mail,
#subject {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 459px;
    height: 50px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    text-transform: uppercase;
    margin-top: 28px;
    margin-left: 120px;
}

#msg {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    width: 459px;
    height: 206px;
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(187, 187, 187);
    text-transform: uppercase;
    margin-top: 28px;
    padding: 10px;
}

.button-mg {
    padding-bottom: 50px;
}

.contact button {
    width: 240px;
    height: 66px;
    border-radius: 3px;
    border: 2px solid #ecb71c;
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px auto;
    display: block;
    padding: 0;
    transition: transform .5s;
    background-color: #ecb71c;
}

.contact button:hover {
    transform: scale(1.15);
    color: #000;
}

footer p {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(85, 85, 85);
    text-align: left;
    margin: 0;
    padding-top: 35px;
    font-weight: bold;
}

.sm {
    width: 40px;
    height: 40px;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 50%;
    color: #fff;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    text-align: center;
}

.sm .fa {
    font-size: 20px;
}

.sm:hover {
    background-color: #fff;
    color: #000;
}

.buttons {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

@media(max-width: 767px) {
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
    .col-offset-s-0 {
        margin-left: 0%;
    }
    .col-offset-s-1 {
        margin-left: 8.33%;
    }
    .col-offset-s-2 {
        margin-left: 16.66%;
    }
    .col-offset-s-3 {
        margin-left: 25%;
    }
    .col-offset-s-4 {
        margin-left: 33.33%;
    }
    .col-offset-s-5 {
        margin-left: 41.66%;
    }
    .col-offset-s-6 {
        margin-left: 50%;
    }
    .col-offset-s-7 {
        margin-left: 58.33%;
    }
    .col-offset-s-8 {
        margin-left: 66.66%;
    }
    .col-offset-s-9 {
        margin-left: 75%;
    }
    .col-offset-s-10 {
        margin-left: 83.33%;
    }
    .col-offset-s-11 {
        margin-left: 91.66%;
    }
    .col-offset-s-12 {
        margin-left: 100%;
    }
    header {
        height: 750px;
    }
    nav {
        text-align: center;
        width: 100%;
    }
    nav ul {
        float: none;
        font-size: 16px;
        text-align: center;
        margin: 0;
        padding-top: 10px;
    }
    nav ul li {
        display: block;
        padding-top: 20px;
    }
    nav ul li a {
        width: 50%;
        margin: auto;
        text-align: center;
    }
    nav h1 {
        margin: 0;
        padding: 10px 50px;
    }
    nav ul li a:hover {
        font-weight: bold;
    }
    nav img {
        width: 250px;
        height: 250px;
    }
    .slogan {
        width: 100%;
        margin: auto;
    }
    .slogan h3 {
        font-size: 20px;
    }
    .slogan h2 {
        font-size: 30px;
    }
    .headerButton:hover {
        transform: scale(1);
    }
    .services {
        padding: 40px 0;
    }
    .services h2 {
        font-size: 30px;
    }
    .services h3 {
        font-size: 14px;
        padding-bottom: 30px;
    }
    .elements {
        padding: 20px 0 20px 0;
    }
    .portfolio h2 {
        font-size: 30px;
        padding-top: 50px;
    }
    .portfolio h3 {
        font-size: 13px;
        padding: 10px 0 30px 0;
    }
    .gallery:hover {
        transform: scale(1);
    }
    .caption {
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .break {
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .about img {
        padding-top: 30px;
    }
    .about h2 {
        font-size: 30px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .about h3 {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 20px;
        margin: 0;
    }
    .about-us p {
        font-size: 12px;
        margin-top: 0;
    }
    .about-us img{
        display: block;
        margin: 0 auto;
    }
    
    .paragraph {
        padding-bottom: 50px;
    }
    .employee img {
        padding-top: 30px;
    }
    .line:before {
        content: "";
        margin: auto;
        display: none;
    }
    .logos-btn img {
        height: 40%;
        width: 40%;
        display: block;
        margin: 20px auto;
        padding: 0;
    }
    .contact h2 {
        font-size: 30px;
        padding: 40px 0 10px 0;
    }
    .contact h3 {
        font-size: 16px;
        color: #fff;
        padding-bottom: 20px;
    }
    .fieldset {
        width: 100%;
        margin: auto;
        display: block;
    }
    #name,
    #mail,
    #subject {
        width: 250px;
        height: 50px;
        font-size: 14px;
        width: 80%;
        margin: auto;
        display: block;
        padding: 10px 5px;
        margin-bottom: 10px;
    }
    #msg {
        width: 250px;
        height: 200px;
        width: 80%;
        margin: auto;
        display: block;
        padding: 10px 5px;
    }
    .contact button {
        transform: scale(1);
        color: #000;
        width: 40%;
        margin: 20px auto;
        display: block;
    }
    footer p {
        display: block;
        margin: auto;
        font-size: 12px;
        padding-left: 10px;
    }
}

@media(min-width: 768px) and (max-width: 1199px) {
    .col-m-1 {
        width: 8.33%;
    }
    .col-m-2 {
        width: 16.66%;
    }
    .col-m-3 {
        width: 25%;
    }
    .col-m-4 {
        width: 33.33%;
    }
    .col-m-5 {
        width: 41.66%;
    }
    .col-m-6 {
        width: 50%;
    }
    .col-m-7 {
        width: 58.33%;
    }
    .col-m-8 {
        width: 66.66%;
    }
    .col-m-9 {
        width: 75%;
    }
    .col-m-10 {
        width: 83.33%;
    }
    .col-m-11 {
        width: 91.66%;
    }
    .col-m-12 {
        width: 100%;
    }
    .col-offset-m-0 {
        margin-left: 0%;
    }
    .col-offset-m-1 {
        margin-left: 8.33%;
    }
    .col-offset-m-2 {
        margin-left: 16.66%;
    }
    .col-offset-m-3 {
        margin-left: 25%;
    }
    .col-offset-m-4 {
        margin-left: 33.33%;
    }
    .col-offset-m-5 {
        margin-left: 41.66%;
    }
    .col-offset-m-6 {
        margin-left: 50%;
    }
    .col-offset-m-7 {
        margin-left: 58.33%;
    }
    .col-offset-m-8 {
        margin-left: 66.66%;
    }
    .col-offset-m-9 {
        margin-left: 75%;
    }
    .col-offset-m-10 {
        margin-left: 83.33%;
    }
    .col-offset-m-11 {
        margin-left: 91.66%;
    }
    .col-offset-m-12 {
        margin-left: 100%;
    }
    .burger {
        top: 15px;
        right: 30px;
    }
    nav {
        text-align: center;
        width: 100%;
    }
    nav ul {
        font-size: 14px;
        float: none;
        font-size: 16px;
        text-align: center;
        margin: 0;
        padding-top: 20px;
    }
    nav ul li {
        display: block;
        padding-top: 20px;
    }
    nav ul li a {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        width: 100px;
    }
    nav ul li a:hover {
        font-weight: 0;
    }
    nav img {
        width: 250px;
        height: 250px;
    }
    .slogan {
        width: 100%;
        margin: auto;
    }
    .slogan h3 {
        font-size: 26px;
    }
    .slogan h2 {
        font-size: 34px;
    }
    .headerButton:hover {
        transform: scale(1);
        color: #fff;
    }
    .gallery img {
        width: 80%;
    }
    .gallery:hover {
        transform: scale(1);
    }
    .gallery-btn {
        margin-bottom: 10px;
    }
    .caption {
        width: 233px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 0;
    }
    .break {
        background-color: #fff;
        width: 233px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 100px;
        padding: 0;
    }
    .about h2 {
        font-size: 30px;
        margin: 0 auto;
        padding-top: 50px;
    }
    .about h3 {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 40px;
        margin: 0;
    }
    .about p {
        font-size: 12px;
    }
    .about1 h4,
    .about3 h4 {
        font-size: 14px;
        text-align: right;
        padding: 10px 5px 0 10px;
    }
    .about2 p,
    .about4 p {
        font-size: 14px;
        text-align: left;
        padding: 10px 5px 0 35px;
    }
    .about2 h4,
    .about4 h4 {
        font-size: 14px;
        text-align: left;
        padding: 10px 5px 0 35px;
    }
    .about1 img,
    .about2 img,
    .about3 img,
    .about4 img,
    .about5 img {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .about5 img {
        margin-bottom: 30px;
    }
    .about1 p,
    .about3 p {
        font-size: 12px;
        padding: 5px 10px 10px 5px;
        text-align: right;
    }
    .line:before {
        content: "";
        display: block;
        margin: 0 auto;
        padding: 0;
    }
    .logos-btn img {
        height: 40%;
        width: 40%;
        display: block;
        margin: 20px auto;
        padding: 0;
    }
    .contact h2 {
        font-size: 30px;
        padding: 40px 0 10px 0;
    }
    .contact h3 {
        font-size: 16px;
        color: #fff;
        padding-bottom: 20px;
    }
    .logos-btn img {
        height: 70%;
        width: 70%;
        display: block;
        margin: 20px auto;
        padding: 0;
    }
    .fieldset {
        width: 100%;
        margin: auto;
        display: block;
    }
    #name,
    #mail,
    #subject {
        width: 250px;
        height: 60px;
        font-size: 14px;
        width: 80%;
        margin: 0 0 0 60px;
        padding: 10px 5px;
        display: block;
        margin-bottom: 10px;
    }
    #msg {
        width: 250px;
        height: 200px;
        width: 80%;
        margin: 0 0 0 20px;
        display: block;
        padding: 10px 5px;
    }
    .contact button {
        transform: scale(1);
        color: #000;
        width: 40%;
        margin: 20px auto;
        display: block;
    }
    footer p {
        padding-left: 10px;
        margin: auto;
        padding-top: 25px;
    }
}

@media (min-width: 1199px) {
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
    .burger {
        display: none;
    }
}
